body {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  gap: 20px;
  background: rgb(245, 255, 250);
  flex-direction: row;
}

.aside_admin {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 50px;
  gap: 30px;
  background: #fff;
  flex-direction: column;
  z-index: 1;
}

.main_admin {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: calc(100% - 50px);
  gap: 20px;
  flex-direction: column;
}

.aside_admin .btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  border-radius: 5px;
  font-size: 18px;
  text-decoration: none;
  border: none;
  color: rgb(2 108 61);
  background: transparent;
  transform: scale(1);
  transition: 0.2s all ease-in;
  cursor: pointer;
}

.aside_admin .btn:hover {
  color: #000;
  transform: scale(1.2);
  transition: 0.2s all ease-in;
}

.aside_admin .btn.active {
  color: #000;
  transform: scale(1.2);
  transition: 0.2s all ease-in;
}

.aside_admin .btn::before {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  height: max-content;
  width: max-content;
  font-size: 10px;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
  padding: 5px;
  background: rgb(2 108 61);
  border-radius: 5px;
  left: 100%;
  transform-origin: left;
  transform: scaleX(0);
  transition: 0.2s all ease-in;
}

.aside_admin .btn:hover::before {
  transform: scaleX(1);
  transition: 0.2s all ease-out;
}

.aside_admin .btn:nth-child(1)::before {
  content: "Sản phẩm";
}

.aside_admin .btn:nth-child(2)::before {
  content: "Người dùng";
}

.aside_admin .btn:nth-child(3)::before {
  content: "Đơn hàng";
}

.aside_admin .btn:nth-child(4)::before {
  content: "Thống kê";
}

.aside_admin .btn:nth-child(5)::before {
  content: "Cài đặt";
}

.main_admin .header_admin {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 30px;
  height: 70px;
  width: 100%;
  background: rgb(245, 255, 250);
  border-bottom-left-radius: 10px;
}

.main_admin #content_admin {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100% - 70px);
  width: 100%;
  border-top-left-radius: 10px;
  border-left: 4px solid rgb(240, 255, 240);
  border-top: 4px solid rgb(240, 255, 240);
  background: #fff;
}

.header_admin .feature_admin {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: max-content;
  flex-direction: row;
  gap: 20px;
}

.feature_admin .search {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: max-content;
}

.feature_admin > i {
  display: flex;
  height: 35px;
  width: 35px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: #fff;
  border: 1px solid #ccc;
  font-size: 18px;
  color: rgb(2 108 61);
}

.feature_admin > i:hover {
  background: rgb(2 108 61);
  color: #fff;
  cursor: pointer;
}

.fa-solid.fa-user.change {
  background: rgb(2 108 61);
  color: #fff;
}

.search input {
  display: flex;
  height: 35px;
  width: 35px;
  border-radius: 10px;
  padding-left: 10px;
  outline: none;
  border: none;
  transition: 0.2s all ease;
}

.search.active input {
  width: 250px;
  border: 2px solid rgb(2 108 61);
  transition: 0.2s all ease;
}

.search .search_icon {
  display: flex;
  position: absolute;
  height: 35px;
  width: 35px;
  align-items: center;
  justify-content: center;
  background: rgb(245, 255, 250);
  right: 0px;
  font-size: 18px;
  border-radius: 0 10px 10px 0;
  color: rgb(2 108 61);
  cursor: pointer;
  transform: scale(1);
  transition: 0.2s all ease;
}

.search .search_icon:hover {
  color: #000;
  transform: scale(1.2);
  transition: 0.2s all ease;
}

.search.active .search_icon {
  background: transparent;
}

.admin_nav.active {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  height: 300px;
  width: 450px;
  background: rgb(245, 255, 250);
  top: 70px;
  right: 30px;
  border: 1px solid #ccc;
  border-radius: 10px;
  flex-direction: row;
  z-index: 1;
}

.admin_nav {
  display: none;
}

.admin_avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 30%;
  flex-direction: row;
}

.admin_avatar .avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.avatar .frame {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  width: 100px;
  background: #fff;
  border-radius: 50%;
}

.frame img {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.frame i {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 30px;
  background: #fff;
  border-radius: 50px;
  bottom: 0;
  right: 0;
}

.frame i:hover {
  background: #ccc;
  cursor: pointer;
}

.admin_info {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 70%;
  padding: 10px 0;
  gap: 10px;
  flex-direction: column;
}

.admin_info .intro {
  display: flex;
  height: auto;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
  color: rgb(2 108 61);
  user-select: none;
}

.admin_info .info {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
  width: 100%;
  flex-direction: column;
  padding: 10px 10px 10px 20px;
  gap: 5px;
  background: #fff;
  border-radius: 5px 0 0 5px;
  border: 1px solid #ccc;
  border-right: none;
  list-style: none;
  overflow: hidden;
}

.admin_info .info li {
  display: flex;
  height: max-content;
  width: 100%;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

.info li > span:nth-child(1) {
  font-size: 18px;
  font-weight: 700;
}

.admin_info .footer_admin {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 20%;
  width: 100%;
  flex-direction: row;
}

.footer_admin button {
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  height: max-content;
  width: max-content;
  padding: 10px;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  background: #fff;
  border-radius: 5px;
  outline: 1px solid #ccc;
  overflow: hidden;
}

.footer_admin button:hover {
  background: rgb(2 108 61);
  color: #fff;
  cursor: pointer;
}
