body {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  gap: 20px;
  background: rgb(245, 255, 250);
  flex-direction: row;
}

.aside_admin {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 50px;
  gap: 30px;
  background: #fff;
  flex-direction: column;
  z-index: 1;
  transition: 0.15s all ease-in;
}

.aside_admin.active{
  width: 250px;
  overflow: hidden;
  transition: 0.15s all ease-out;
}

.main_admin {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: calc(100% - 50px);
  gap: 20px;
  flex-direction: column;
  transition: 0.15s all ease-out;
}

.main_admin.active{
  width: calc(100% - 250px);
  transition: 0.15s all ease-in;
}

.aside_admin .btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 100%;
  border-radius: 5px;
  text-decoration: none;
  border: none;
  outline: none;
  padding: none;
  color: rgb(2 108 61);
  background: transparent;
  gap: 0 ;
  transform: scale(1);
  transition: 0.2s all ease-in;
  cursor: pointer;
}

.aside_admin.active .btn,
.aside_admin.active .btn.active,
.aside_admin.active .btn:hover {
  justify-content: flex-start;  
  border-radius: 0px;
  color: #000;
  font-size: 15px;
  padding-left: 20px;
  gap: 10px;
  transform: none;
}

.aside_admin.active .btn.active{
  background: rgb(245, 255, 250);
  font-weight: 700;
}

.aside_admin.active .btn i{
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  height: 35px;
  width: 35px;
  background: rgb(245, 255, 250);
}

.aside_admin.active .btn.active i{
  color: #fff;
  background: rgb(2 108 61);
}

.aside_admin.active .btn .name{
  display: flex;
}

.aside_admin .btn .name{
  display: none;
}

.aside_admin .btn:hover {
  color: #000;
  transform: scale(1.2);
  transition: 0.2s all ease-in;
}

.aside_admin .btn.active {
  color: #000;
  transform: scale(1.2);
  transition: 0.2s all ease-in;
}

.aside_admin .btn::before {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  height: max-content;
  width: max-content;
  font-size: 10px;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
  padding: 5px;
  background: rgb(2 108 61);
  border-radius: 5px;
  left: 80%;
  z-index: 1;
  transform-origin: left;
  transform: scaleX(0);
  transition: 0.2s all ease-in;
}

.aside_admin.active .btn::before {
  display: none;
}

.aside_admin .btn:hover::before {
  transform: scaleX(1);
  transition: 0.2s all ease-out;
}

.aside_admin .btn:nth-child(1)::before {
  content: "Sản phẩm";
}

.aside_admin .btn:nth-child(2)::before {
  content: "Người dùng";
}

.aside_admin .btn:nth-child(3)::before {
  content: "Đơn hàng";
}

.aside_admin .btn:nth-child(4)::before {
  content: "Thống kê";
}

.aside_admin .btn:nth-child(5)::before {
  content: "Cài đặt";
}

.main_admin .header_admin {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  height: 70px;
  width: 100%;
  background: #fff;
  border-bottom-left-radius: 10px;
}

.header_admin .header_left,
.header_admin .header_right {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: max-content;
  gap: 20px;
}

.header_left > i,
.header_right > i{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35px;
  width: 35px;
  border-radius: 5px;
  background: transparent;
}

.header_left > i:hover,
.header_right > i:hover{
  background: rgb(245, 255, 250);
  cursor: pointer;
}

.header_right .admin_info {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60%;
  width: max-content;
  gap: 10px;
  padding: 0 10px;
  border-radius: 5px;
  background: rgb(245, 255, 250);
  user-select: none;
}


.main_admin #content_admin {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100% - 70px);
  width: 100%;
  border-top-left-radius: 10px;
  border-left: 4px solid rgb(240, 255, 240);
  border-top: 4px solid rgb(240, 255, 240);
  background: #fff;
}
