body {
    height: 100vh;
    width: 100%;
    overflow: scroll;
    overflow-x: hidden;
}

body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-track {
    background: rgb(245, 255, 250);
}

body::-webkit-scrollbar-thumb {
    background: rgb(2 108 61);
}

.orders-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px;
    padding-bottom: 20px;
}

.orders-heading h1 {
    font-size: 28px;
    color: #036C3d;
    margin-bottom: 10px;
}

.orders-heading p {
    font-size: 16px;
    color: rgb(0, 0, 0, 0.6);
}

.orders-heading-btn {
    user-select: none;
    margin-top: 20px;
    display: flex;
    gap: 10px;
}

.orders-heading-btn>button {
    font-size: 14px;
    display: inline-block;
    width: 130px;
    color: #fff;
    padding: 12px 20px;
    background-color: #036C3D;
    /* transition: background-color 0.5s, border 0.5s; */
    border: none;
    border-radius: 10px;
    margin-right: 5px;
    cursor: pointer;
    user-select: none;
}

.orders-fill {
    min-width: 11%;
    display: flex;
    flex-direction: column;
    gap: 20px;

}

.orders-time-fill {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 11%;
    margin-right: 10%;
}

.orders-time-fill input[type="date"] {
    padding: 12px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
}

.orders-time-fill input[type="date"]::placeholder {
    color: #aaa;
}

.formatTime {
    display: flex;
    flex-direction: column;
}

.orders-table {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    table-layout: auto;
}

td {
    padding: 8px;
    text-align: center;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-left: none;
    border-right: none;
    font-size: 16px;
    border-radius: 10px;
    font-weight: lighter;
}

th {
    padding: 10px;
    text-align: center;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-left: none;
    border-right: none;
    border-radius: 10px;
    opacity: 0.6;
    font-size: 18px;
    font-weight: lighter;
}

th:first-child,
td:first-child {
    width: 5%;
}

th:nth-child(4),
td:nth-child(4),
th:nth-child(7),
td:nth-child(7) {
    width: 10%;
}

th:nth-child(3),
td:nth-child(3) {
    white-space: wrap;
    width: 20%;
}

th:nth-child(2),
td:nth-child(2),
th:nth-child(5),
td:nth-child(5),
th:nth-child(6),
td:nth-child(6) {
    width: 10%;
}

tr:hover {
    background-color: rgb(245, 255, 250);
}

.orders-table_feature {
    cursor: pointer;
    color: rgb(104, 97, 97);
    font-size: 24px;
    user-select: none;
    background-color: transparent;
    transition: background-color 0.5s, border 0.5s;
    border-radius: 10px;
    padding: 8px;
}

.orders-table_feature img {
    height: 60px;
    transition: transform 0.3s ease;
}

.orders-table_feature img:hover {
    transform: scale(1.2);
}

.select-status i {
    position: absolute;
    right: 8px;
    top: 42%;
    transform: translateY(-50%);
    font-size: 20px;
}

.select-status select {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white;
    appearance: none;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.select-status select:focus {
    outline: none;
    border-color: #036C3d;
}

.orders-detail {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90%;
    width: 50%;
    background: #fff;
    border-radius: 10px;
    outline: 1px solid #ccc;
    flex-direction: column;
    overflow: hidden;
}

.orders-detail_content {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    max-width: 500px;
    width: 100%;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}

.orders-detail_content h2 {
    margin: 0;
    font-size: 24px;
}

.orders-detail_content p {
    font-size: 16px;
    margin-top: 10px;
}

.orders-detail_close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    color: #888;
    cursor: pointer;
}

.orders-pagination {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px;
}

.orders-pagination>span {
    font-size: 16px;
    color: rgba(0, 0, 0, 0.6);
}

.orders-pagination_button {
    user-select: none;
}

.orders-pagination_button>button {
    padding: 12px 20px;
    background-color: #fff;
    background-color: transparent;
    transition: background-color 0.5s, border 0.5s;
    border: none;
    margin-right: 5px;
    border-radius: 6px;
    cursor: pointer;
}

.orders-pagination_button>button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.orders-pagination_button>button:hover {
    background-color: rgb(0, 0, 0, 0.1);
}

.orders-pagination_button>button i {
    margin-left: 5px;
    margin-right: 5px;
}

.orders-detail {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    justify-content: center;
    align-items: center;
}

.orders-detail-content {
    background-color: white;
    width: 50%;
    height: 80%;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}