html {
  height: 100dvh;
  width: 100%;
}

body {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  height: max-content;
  width: 100%;
  padding: 50px 20px;
}

#formBuy {
  display: flex;
  height: max-content;
  width: max-content;
  padding: 20px;
  background: #fff;
  flex-direction: column;
  border-radius: 10px;
  box-shadow: 0 0 5px var(--color-black);
  gap: 30px;
}

.main {
  display: flex;
  height: max-content;
  width: 100%;
  gap: 20px;
}

.main img {
  display: flex;
  height: 200px;
  width: 200px;
  border-radius: 10px;
  border: 1px solid var(--color-black);
  flex-shrink: 0;
}

.main .body {
  display: flex;
  height: max-content;
  width: max-content;
  flex-direction: column;
  gap: 10px;
}

.body h3 {
  display: flex;
  height: max-content;
  width: max-content;
  background: var(--primary-color);
  font-size: 14px;
  text-transform: uppercase;
  color: #fff;
  padding: 5px 10px;
  border-radius: 10px;
}

.id_product,
.price,
.quantity {
  display: flex;
  align-items: center;
  height: max-content;
  width: max-content;
  gap: 10px;
}

.id_product span,
.price span,
.quantity span,
.size span,
.sugar span,
.ice span {
  font-weight: 700;
}

.id_product p {
  text-decoration: underline;
  cursor: pointer;
}

.price p {
  font-weight: 700;
  font-size: 20px;
  color: var(--primary-color);
}

.container {
  display: flex;
  height: max-content;
  width: max-content;
  gap: 10px;
}

.container input {
  display: flex;
  height: initial;
  width: 50px;
  text-align: center;
  appearance: textfield;
  -moz-appearance: textfield;
}

.container button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25px;
  width: 25px;
  border-radius: 5px;
  background: var(--primary-color);
  color: #fff;
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.size, .sugar, .ice{
  display: flex;
  height: max-content;
  width: max-content;
  flex-direction: column;
  gap: 10px;
}

.size p, .sugar p, .ice p {
  display: flex;
  height: max-content;
  width: max-content;
  gap: 20px;
}

.size p button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35px;
  width: 80px;
  border-radius: 5px;
  font-weight: 700;
  font-size: 16px;
  transition: 0.2s all ease;
}

.sugar p button, .ice p button{
    display: flex;
    align-items: center;
    height: max-content;
    width: max-content;
    height: 35px;
    width: max-content;
    padding: 0 20px;
    border-radius: 5px;
    font-weight: 700;
    transition: 0.2s all ease;
}

.size p button.chosen, .sugar p button.chosen, .ice p button.chosen {
  background: var(--primary-color);
  color: #fff;
  transition: 0.2s all ease;
}

.other{
    display: flex;
    align-items: center;
    height: max-content;
    width: 100%;
    flex-direction: column;
    gap: 10px;
}

.other h4{
    display: flex;
    height: max-content;
    width: max-content;
    text-transform: uppercase;
    color: var(--primary-color);
    text-decoration: underline;
}

.other .item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: max-content;
    width: 100%;
}

.item .info{
    display: flex;
    height: max-content;
    width: max-content;
    flex-direction: column;
    gap: 5px;
}

.item .info span{
    font-weight: 700;
}

.item .info p{
    text-decoration: underline;
}

.footer{
    display: flex;
    justify-content: center;
    height: max-content;
    width: 100%;
}

.footer button{
    display: flex;
    align-items: center;
    height: 40px;
    width: max-content;
    padding: 0 20px;
    background: var(--primary-color);
    color: #fff;
    font-weight: 700;
    border-radius: 5px;
    text-transform: uppercase;
    cursor: pointer;
}

#close{
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;    
    height: 40px;
    width: 40px;
    top: 20px;
    right: 20px;
    background: var(--primary-color);
    color: #fff;
    border-radius: 50px;
    font-size: 20px;
}

button.active{
  background: var(--primary-color);
  color: #fff;
}

