body {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-direction: column;
  padding: 20px 0;
  gap: 50px;
}

body::-webkit-scrollbar{
  display: none;
}

.slider {
  display: flex;
  align-items: center;
  height: 500px;
  width: 80%;
  user-select: none;
}

#slideShow {
  display: flex;
  align-items: center;
  height: 100%;
  flex-grow: 1;
  border-radius: 10px;
  overflow: hidden;
}

.frame {
  display: flex;
  height: 100%;
  flex-grow: 1;
  transform: translateX(0);
  transition: 0.2s all ease;
}

.frame img {
  display: flex;
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

.handleImage {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  background: var(--color-gray);
  border-radius: 50px;
}

#left {
  left: 20px;
}

#right {
  right: 20px;
}

#intro {
  display: flex;
  justify-content: center;
  height: max-content;
  width: 70%;
  flex-basis: 550px;
  flex-wrap: wrap;
  gap: 30px;
}

#intro .content {
  display: flex;
  height: max-content;
  flex-grow: 1;
  flex-basis: 300px;
  flex-direction: column;
  gap: 20px;
}

#intro .content h2 {
  display: flex;
  height: max-content;
  text-align: center;
  color: var(--primary-color);
}

#intro .content p {
  font-size: 18px;
}

#intro .frame-img {
  display: flex;
  position: relative;
  height: 500px;
  width: 350px;
  border-radius: 10px;
  overflow: hidden;
  user-select: none;
}

.frame-img img {
  display: flex;
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 10px;
}

.frame-img .overlay {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  opacity: 0;
  flex-direction: column;
  gap: 10px;
  transition: 0.2s all ease;
}

.frame-img:hover .overlay {
  opacity: 1;
  transition: 0.2s all ease;
}

#product,
#event {
  display: flex;
  align-items: center;
  height: max-content;
  width: 100%;
  flex-direction: column;
  gap: 30px;
}

#product h2,
#event h2 {
  color: var(--primary-color);
  text-transform: uppercase;
  text-decoration: underline;
}

.frame-product,
.frame-event {
  display: flex;
  height: max-content;
  justify-content: space-around;
  width: 80%;
  flex-wrap: wrap;
  gap: 20px;
}

.frame-product .product {
  display: flex;
  position: relative;
  align-items: center;
  height: max-content;
  width: 250px;
  outline: 1px solid var(--color-gray);
  border-radius: 10px;
  flex-direction: column;
  transition: 0.2s all ease;
  overflow: hidden;
}

.product:hover {
  box-shadow: 0 0 5px var(--color-black);
  transition: 0.2s all ease;
}

.product .heading {
  display: flex;
  justify-content: center;
  height: max-content;
  width: 100%;
  padding: 20px;
  background: var(--second-color);
}

.heading img {
  display: flex;
  height: 100px;
  width: 100px;
  background-repeat: no-repeat;
  background-size: cover;
}

.product .info {
  display: flex;
  align-items: center;
  height: max-content;
  padding: 10px;
  color: var(--primary-color);
  flex-direction: column;
  gap: 10px;
}

.footer {
  display: flex;
  height: max-content;
  width: 100%;
  padding: 10px;
  gap: 10px;
}

.footer button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: max-content;
  flex-grow: 1;
  padding: 10px 0;
  border-radius: 5px;
  color: #fff;
  font-weight: 700;
  gap: 10px;
  cursor: pointer;
}

.footer button:nth-child(1) {
  background: var(--color-red);
}

.footer button:nth-child(2) {
  background: var(--primary-color);
}

.event {
  display: flex;
  height: max-content;
  width: 350px;
  border-radius: 10px;
  outline: 2px solid var(--color-gray);
  flex-direction: column;
  gap: 20px;
  overflow: hidden;
}

.more:hover {
    background: var(--primary-color);
    color: #fff;
    transition: 0.2s all ease;
  }

.event img {
  display: flex;
  height: 200px;
  width: 100%;
}

.event .info {
  display: flex;
  justify-content: center;
  height: max-content;
  width: 100%;
  padding: 20px 0;
  border-top: 2px solid var(--color-black);
}

.more {
  display: flex;
  height: max-content;
  width: max-content;
  padding: 10px 20px;
  border: 2px solid var(--primary-color);
  background: transparent;
  border-radius: 10px;
  text-transform: uppercase;
  font-weight: 700;
  color: var(--color-black);
  transition: 0.2s all ease;
}

#sign {
  display: flex;
  position: absolute;
  top: 10px;
  right: 10px;
  transform: rotate(35deg);
  color: var(--primary-color);
}
