html{
    height: 100%;
    width: 100%;
}

body{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    height: max-content;
    width: 100%;
    padding: 20px;
}

#form-info{
    display: flex;
    position: relative;
    height: max-content;
    width: 90%;
    border-radius: 10px;
    border: 1px solid var(--color-gray);
    box-shadow: 0 0 5px #303030;
    padding: 20px;
    flex-direction: column;
    gap: 30px;
}

#form-info .heading{
    display: flex;
    justify-content: flex-start;
    height: max-content;
    width: 100%;
    gap: 20px;
}

#form-info .heading img{
    display: flex;
    height: 100px;
    width: 100px;
    border-radius: 5px;
    border: 1px solid var(--color-black);
}

#form-info .heading .beside{
    display: flex;
    height: initial;
    width: max-content;
    flex-direction: column;
    gap: 10px;
}

#form-info .heading .beside span{
    display: flex;
    height: max-content;
    width: max-content;
    padding: 5px 10px;
    background: var(--primary-color);
    font-size: 13px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    border-radius: 5px;
}

#form-info .heading .beside p{
    font-weight: 700;
}

.info{
    display: flex;
    height: max-content;
    width: 100%;
    flex-direction: column;
    gap: 10px;
}

.info h2{
    color: var(--primary-color);
    text-decoration: underline;
}

.info .basic, .info .address{
    display: flex;
    height: max-content;
    width: 100%;
    gap: 10px;
    flex-direction: column;
}

.basic .container{
    display: flex;
    height: max-content;
    width: 100%;
    gap: 20px;
    flex-wrap: wrap;
}

.basic .container div{
    display: flex;
    align-items: center;
    height: max-content;
    width: 45%;
    flex-basis: 300px;
    gap: 10px;
}

.basic .container div span{
    display: flex;
    height: initial;
    width: max-content;
    flex-shrink: 0;
    font-weight: 700;
}

.basic .container div input{
    display: flex;
    height: 30px;
    flex-grow: 1;
}

.address .container{
    display: flex;
    height: max-content;
    width: 100%;
    flex-direction: column;
    gap: 20px;
}

.address .container div{
    display: flex;
    align-items: center;
    height: max-content;
    width: 70%;
    gap: 20px;
}

.address .container > div span{
    display: flex;
    height: initial;
    width: max-content;
    font-weight: 700;
    flex-shrink: 0;
}

.address .container > div input{
    display: flex;
    height: 30px;
    min-width: 300px;
    flex-grow: 1;
}

input{
    outline: none;
    border-radius: 5px;
    padding: 0 10px;
    font-size: 14px;
}

input:disabled{
    color: #000;
    background: transparent;
}

input:not(:disabled){
    outline: 2px solid var(--primary-color);
}

.footer{
    display: flex;
    justify-content: center;
    height: max-content;
    width: 100%;
}

.footer #confirm{
    display: flex;
    align-items: center;
    justify-content: center;
    height:35px;
    width: 120px;
    border-radius: 10px;
    font-size: 12px;
    background: var(--primary-color);
    text-transform: uppercase;
    font-weight: 700;
    color: #fff;
    cursor: pointer;
}

#confirm:disabled{
    cursor: not-allowed;
}

#edit{
    display: flex;
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}



