body {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 20px 30px;
}

body::-webkit-scrollbar {
  display: none;
}

.filter-table {
  display: flex;
  position: fixed;
  height: 40px;
  width: 40px;
  top: 10px;
  right: 10px;
  border-radius: 10px;
  background: #fff;
  z-index: 1;
  overflow: hidden;
  transition: 0.2s all ease;
}

.filter-table.show {
  height: 420px;
  width: 250px;
  box-shadow: 0 0 5px var(--color-gray);
  transition: 0.2s all ease;
}

#main{
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  flex-direction: column;
  padding-bottom: 10px;
  gap: 10px;
}

#main h3{
  display: flex;
  justify-content: center;
  height: max-content;
  width: 100%;
  padding: 10px 0;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 15px;
  background: var(--primary-color);
  color: #fff;
}

#main .frame{
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-grow: 1;
  flex-direction: column;
  padding: 0 10px;
  gap: 10px;
}

.frame .type, .frame .sort, .frame .price{
  display: flex;
  height: max-content;
  width: 100%;
  flex-direction: column;
  gap: 5px;
}

.type .container, .price .container{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: max-content;
  width: 100%;
  flex-direction: row;
  gap: 10px;
}

.sort .container{
  display: flex;
  justify-content: space-around;
  height: max-content;
  width: 100%;
  flex-direction: row;
}

.type .container input{
  display: flex;
  height: 15px;
  width: 15px;
  flex-shrink: 0;
  accent-color: var(--primary-color);
}

.sort .container button{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35px;
  width: 100px;
  font-weight: 700;
  font-size: 14px;
  border-radius: 5px;
}

.price .container span{
  display: flex;
  height: max-content;
  width: 35px;
  font-weight: 700;
  flex-shrink: 0;
}

.price .container input{
  display: flex;
  text-align: right;
  height: 25px;
  width: 100px;
  padding: 0 10px;
}

.frame div h4{
  padding: 10px 0;
  color: var(--primary-color);
  text-decoration: underline;
}

#apply{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35px;
  width: 120px;
  border-radius: 5px;
  font-size: 13px;
  font-weight: 700;
  color: #fff;
  background: var(--primary-color);
  text-transform: uppercase;
  cursor: pointer;
}

#change {
  display: flex;
  position: absolute;
  align-items:center;
  justify-content: center;
  transition: 0.2s all ease;
}

.filter-table.show #change{
  height: 25px;
  width: 25px;
  top: 5px;
  right: 5px;
  border-radius: 50px;
  background: #fff;
  color: var(--color-black);
  border-radius: 50px;
  transition: 0.2s all ease;
}

.filter-table #change{
  height: 40px;
  width: 40px;
  top: 0px;
  right: 0px;
  border-radius: 0px;
  background: var(--primary-color);
  color: #fff;
}

#product {
  display: flex;
  justify-content: space-evenly;
  height: max-content;
  width: 100%;
  gap: 30px;
  flex-wrap: wrap;
}

#product .product {
  display: flex;
  position: relative;
  align-items: center;
  height: max-content;
  width: 250px;
  outline: 1px solid var(--color-gray);
  border-radius: 10px;
  flex-direction: column;
  transition: 0.2s all ease;
  overflow: hidden;
}

.product:hover {
  box-shadow: 0 0 5px var(--color-black);
  transition: 0.2s all ease;
}

.product .heading {
  display: flex;
  justify-content: center;
  height: max-content;
  width: 100%;
  padding: 20px;
  background: var(--second-color);
}

.heading img {
  display: flex;
  height: 100px;
  width: 100px;
  background-repeat: no-repeat;
  background-size: cover;
}

.product .info {
  display: flex;
  align-items: center;
  height: max-content;
  padding: 10px;
  color: var(--primary-color);
  flex-direction: column;
  gap: 10px;
}

.footer {
  display: flex;
  height: max-content;
  width: 100%;
  padding: 10px;
  gap: 10px;
}

.footer button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: max-content;
  flex-grow: 1;
  padding: 10px 0;
  border-radius: 5px;
  color: #fff;
  font-weight: 700;
  gap: 10px;
  cursor: pointer;
}

.footer button:nth-child(1) {
  background: var(--color-red);
}

.footer button:nth-child(2) {
  background: var(--primary-color);
}
