html{
  width: 100vw;
  height: 100vh;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-form{
  width: 40%;
  height: 75vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  margin-top: 20px;
  gap: 20px;
}

.product-form__form:hover {
  box-shadow: 1px 1px 3px 3px rgba(236, 239, 241, 1);
}

.product-form__form{
  min-width: 170px;
  min-height: 200px;
  border: 1px solid rgba(236, 239, 241, 1);
  border-radius: 5px;
  overflow: hidden;
}

.product-form__container{
  min-width: 170px;
  min-height: 210px;
}

/* CSS image */

.product-form__image{
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  min-width: 150px;
  min-height: 130px;
  background-color: rgba(236, 239, 241, 1);
}

.product-form__image-icon{
  position: absolute;
  right: 7px;
  top: 5px;
  rotate: 35deg;
  color: rgb(2, 108, 61);
  font-size: 20px;
}

.product-form__image-img{
  width: 90px;
  height: 90px;
}

/* CSS content */

.product-form__content{
  min-width: 25%;
  min-height: 15%;
  margin: 7px 5px ;
  margin-bottom: 2px;
  color: rgb(2, 108, 61);
}

.product-form__title{
  font-size: 14px;
}

.product-form__cost{
  font-size: 14.5px;
}

/* CSS nút đặt mua */

.product-form__buy{
  display: flex;
  justify-content: center;
  margin-top: 10px;
  min-width: 25%;
  min-height: 15%;
}

.product-form__buy-btn{
  min-width: 95%;
  min-height: 25px;
  background-color: rgb(2, 108, 61);
  outline: none;
  text-align: center;
  color: #fff;
  border: 1px solid rgb(2, 108, 61);
  border-radius: 5px;
}

.product-form__buy:hover{
  opacity: 0.8;
}

/* pagination */

.pagination{
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  position: absolute;
  bottom: -40px;
  margin-right: 50px;
}

.pagination-item{
 margin: 0 8px;
}

.pagination-item:hover{
  opacity: 0.7;
}

.pagination-item--active .pagination-item__link{
  background-color: rgb(2, 108, 61);
  color: #fff;
}

.pagination-item--active .pagination-item__link:hover{
  opacity: 0.8;
}

.pagination-item__link{
  display: block;
  min-width: 40px;
  height: 30px;
  text-decoration: none;
  font-size: 18px;
  color: #939393;
  text-align: center;
  line-height: 30px;
  border-radius: 2px;
}
