html {
  height: 100%;
  width: 100%;
}

body {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  height: max-content;
  width: 100%;
}

.heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  height: 70px;
  width: 100%;
  top: 0;
  left: 0;
  background: #fff;
  padding: 0 10px;
  border-bottom: 2px solid var(--color-black);
  gap: 30px;
}

.heading .field-input {
  display: flex;
  height: max-content;
  width: 50%;
  min-width: 300px;
}

.field-input input {
  display: flex;
  height: 40px;
  width: 100%;
  padding: 0 10px;
  outline: none;
  border: 2px solid var(--color-black);
  border-radius: 5px;
}

#select {
  display: flex;
  position: relative;
  height: 40px;
  width: 150px;
  border-radius: 10px;
  background: var(--primary-color);
  color: #fff;
}

#value {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  width: 100%;
  padding: 0 10px;
  gap: 10px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  cursor: pointer;
}

.active ~ #select-table {
  display: flex;
  position: absolute;
  height: max-content;
  width: 150px;
  top: 45px;
  right: 0;
  background: #fff;
  color: #000;
  border-radius: 5px;
  box-shadow: 0 0 5px #ccc;
  padding: 10px;
  list-style: none;
  flex-direction: column;
  gap: 10px;
}

#select-table {
  display: none;
}

#select-table li {
  display: flex;
  align-items: center;
  height: 30px;
  border-radius: 5px;
  background: transparent;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  padding: 0 10px;
  cursor: default;
}

#select-table li:hover {
  background: var(--color-gray);
}

.content {
  display: flex;
  height: max-content;
  width: 100%;
  padding: 100px 10px 20px 10px;
  gap: 20px;
  flex-direction: column;
}

.content .purchase {
  display: flex;
  height: max-content;
  width: 100%;
  flex-direction: column;
  padding: 20px 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px var(--color-gray);
  gap: 10px;
}

.purchase .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: max-content;
  width: 100%;
}

.header .id-purchase {
  display: flex;
  height: max-content;
  width: max-content;
  gap: 10px;
}

.id-purchase .id {
  color: var(--primary-color);
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: underline;
}

.header .status {
  display: flex;
  height: max-content;
  width: max-content;
  padding: 5px 10px;
  background: green;
  color: #fff;
  border-radius: 5px;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
}

.info {
  display: flex;
  height: max-content;
  width: 100%;
  flex-direction: column;
  border-top: 1px solid var(--color-black);
  border-bottom: 1px solid var(--color-black);
}

.product {
  display: flex;
  justify-content: space-between;
  height: max-content;
  width: 100%;
  padding: 20px;
  gap: 20px;
}

.product img {
  display: flex;
  height: 80px;
  width: 80px;
  background: var(--color-gray);
  border-radius: 5px;
  object-fit: cover;
  flex-shrink: 0;
}

.product .info-product {
  display: flex;
  height: max-content;
  flex-grow: 1;
  flex-direction: column;
  gap: 10px;
}

.info-product h3 {
  color: var(--primary-color);
  text-decoration: underline;
}

.info-product div{
  display: flex;
  gap: 10px;
}

.info-product div span {
  display: flex;
  font-weight: 700;
  flex-shrink: 0;
}

.product .total {
  display: flex;
  align-items: center;
  height: initial;
  width: max-content;
  font-weight: 700;
}

.total-purchase {
  display: flex;
  align-items: flex-end;
  height: max-content;
  width: 100%;
  flex-direction: column;
}

.total-purchase .total,
.total-purchase .fee,
.total-purchase .total-bill {
  display: flex;
  height: max-content;
  width: max-content;
  padding: 10px 0;
}

.total-purchase div span {
  font-weight: 700;
}

.total-purchase div p {
  display: flex;
  justify-content: flex-end;
  height: max-content;
  width: 150px;
}

.total-purchase .total-bill {
  font-size: 18px;
  border-top: 2px solid var(--primary-color);
  white-space: nowrap;
}

.total-purchase .total-bill span {
  color: var(--primary-color);
  text-transform: uppercase;
  text-decoration: underline;
}

.total-purchase .total-bill p {
  font-weight: 700;
}

.footer {
  display: flex;
  height: max-content;
  width: 100%;
  justify-content: flex-end;
  gap: 20px;
}

.footer button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 120px;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
}

#reorder {
  background: var(--primary-color);
  color: #fff;
}
