body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-form{
    width: 700px;
    height: 30px;
    display: flex;
    justify-content: space-between;
    list-style: none;
    color: #000;
    border-bottom: 1px solid rgb(210, 213, 215);
    text-decoration: none;
    line-height: 30px;
}

.header-form-item--all{
    color: rgb(2, 108, 61);
    border-bottom: 1px solid rgb(2, 108, 61);
}

.header-form-item:hover{
    color: rgb(2, 108, 61);
    opacity: 0.6;
}

.purchase-form{
    width: 700px;
    margin-top: 20px;
}

.purchase-header{
    display: flex;
    justify-content: space-between;
    padding-bottom: 5px;
    border-bottom: 2px solid rgba(2, 108, 61, 0.8);
}

.purchase-header__heading{
    width: 280px;
    display: flex;
    justify-content: space-between;
    gap: 5px;
}
.purchase-header__heading-item{
    color: rgb(2, 108, 61);
    font-size: 17px;
    font-weight: 700;
    flex: 1;
}

.purchase-header__heading-btn-chat{
    width: 60px;
    height: 22px;
    background-color: rgb(2, 108, 61);
    color: #fff;
    border: none;
    border-radius: 2px;
}

.purchase-header__heading-btn-shop{
    width: 90px;
    background-color: #fff;
    border: 1px solid rgb(210, 213, 215);
    border-radius: 2px;
}

.purchase-header__heading-btn-content{
    text-decoration: none;
    color:#4f4949 ;
}

.purchase-header-status{
    width: 270px;
    display: flex;
    justify-content: space-between;
    list-style: none;
    position: relative;
}

.purchase-header-status--success{
    color: rgba(2, 108, 61, 0.8);
}

.purchase-header-status--rating{
    color: rgba(222, 40, 40, 0.94);
}

.purchase-header-status--separate::after{
    content: "";
    display: block;
    position: absolute;
    top: 1px;
    right: 82.5px;
    height: 13px;
    border: 1px solid #ccc;
}

.order-form__item{
    display: flex;
    margin-top: 10px;
    padding-bottom: 5px;
    position: relative;
    border-bottom: 1px solid rgb(210, 213, 215);
    
}

.order-form__item-image{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    background-color: rgba(236, 239, 241, 1);
    border-radius: 5px;
    cursor: pointer;
}

.order-form__item-img{
    width: 70%;
    height: 70%;
}

.order-form__content{
    width: 550px;
    margin-left: 10px;
}

.order-form__title{
    color: rgb(2, 108, 61);
    font-size: 16px;
    font-weight: 400;
}

.order-form__describ{
    font-size: 14px;
    color: #676464;
}

p{
    font-size: 14px;
}

.order-form__cost{
    position: absolute;
    right: 0;
    top: 40px;
    color:rgb(2, 108, 61);
}

.order-form__footer{
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    margin-top: 20px;
}

.order-form__ctn{
    display: flex;
    width: max-content;    /*chiều rộng box bằng nội dung bên trong*/
    margin: 20px;   
}

.order-form__ctn-cost{
    color: rgb(2, 108, 61);
    font-size: 25px;
    margin-top: -5px;
}

.order-form__btn-reorder{
    width: 150px;
    height: 30px;
    background-color: rgb(2, 108, 61);
    color: #fff;
    font-size: 14px;;
    border: 1px solid rgb(2, 108, 61);
    border-radius: 2px;
}

.order-form__btn-more{
    width: 100px;
    height: 30px;
    background-color: #fff;
    border: 1px solid rgb(210, 213, 215);
    border-radius: 2px;
}

.order-form__btn-more:hover,
.purchase-header-status--rating:hover,
.purchase-header__heading-btn-shop:hover,
.purchase-header__heading-btn-chat:hover,
.order-form__btn-reorder:hover{
    cursor: pointer;
    opacity: 0.7;
}