body {
  display: flex;
  position: relative;
  height: 100dvh;
  width: 100%;
  background-image: url(/assets/img/katinat.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}

#signup-form {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: space-around;
  height: 80%;
  width: 450px;
  min-height: 500px;
  background: transparent;
  top: 10%;
  left: 100px;
  padding: 20px 0;
  border-radius: 10px;
  flex-direction: column;
  overflow: hidden;
}

#signup-form::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #fff;
  opacity: 0.7;
  z-index: -1;
}

.heading {
  display: flex;
  align-items: center;
  height: max-content;
  width: 100%;
  flex-direction: column;
  gap: 20px;
}

.heading h2 {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  color: rgb(2 108 61);
  text-transform: uppercase;
  font-weight: 700;
  flex-direction: column;
  gap: 5px;
}

.heading h2 a {
  text-decoration: none;
  color: rgb(2 108 61);
}

.heading h2 a i {
  transform: rotate(35deg);
}

.heading p {
  font-weight: 700;
}

.main{
  display: flex;
  position: relative;
  height: 300px;
  width: 70%;
  overflow: hidden;
}

.main .input-group{
  display: flex;
  position: absolute;
  height: 100%;
  width: 200%;
  padding: 30px 0 10px 0;
  left: 0;
  top: 0;
  transition: 0.2s all ease;
}

.input-group .sheet{
  display: flex;
  justify-content: space-between;  
  align-items: center;
  height: 100%;
  flex-grow: 1;
  padding: 0 10px;
  flex-direction: column;
}

.sheet .field-input {
  display: flex;
  position: relative;
  height: 40px;
  width: 100%;
}

.field-input input {
  display: flex;
  height: 100%;
  width: 100%;
  border-radius: 10px;
  outline: none;
  padding: 0 20px;
}

.field-input label {
  display: flex;
  position: absolute;
  top: 12px;
  left: 20px;
  color: var(--color-black);
  transition: 0.2s all ease;
}

.field-input input:focus + label,
.field-input input:not(:placeholder-shown) + label {
  top: -25px;
  left: 0px;
  font-weight: 700;
  color: var(--primary-color);
  transition: 0.2s all ease;
}

#sheet_1 button{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 100px;
  border-radius: 50px;
  background: var(--primary-color);
  color: #fff;
}

#sheet_2 .btn-group{
  display: flex;
  height: 40px;
  width: 100%;
  gap: 10px;
}

#sheet_2 .btn-group button:nth-child(1){
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100px;
  border-radius: 50px;
  background: var(--color-red);
  color: #fff;
}

#sheet_2 .btn-group button:nth-child(2){
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  flex-grow: 1;
  border-radius: 10px;
  background: var(--primary-color);
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  user-select: none;
  cursor: pointer;
}

#term_of_use {
  display: flex;
  position: absolute;
  align-items: center;
  height: max-content;
  width: max-content;
  font-size: 12px;
  bottom: 60px;
  font-weight: 700;
  gap: 10px;
}

#term_of_use input {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 12px;
  width: 12px;
  outline: none;
}

#term_of_use input::before {
  content: "";
  display: flex;
  position: absolute;
  height: 15px;
  width: 15px;
  border-radius: 50px;
  background: #fff;
  border: 2px solid var(--primary-color);
}

#term_of_use input::after {
  content: "";
  display: flex;
  position: absolute;
  height: 10px;
  width: 10px;
  background: var(--primary-color);
  border-radius: 50px;
  z-index: 1;
  opacity: 0;
}

#term_of_use input:checked::after {
  opacity: 1;
}

.footer{
  display: flex;
  justify-content: center;
  height: max-content;
  width: 100%;
}

.footer a{
  color: var(--primary-color);
  font-weight: 700;
  user-select: none;
}






