.html,body{
    font-family: Arimo, sans-serif;
    font-size: 14px;
    line-height: 1.5;
    color: rgb(2, 108, 61);
}
.modal{
    display: flex;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    flex-wrap: wrap;

}

.modal__over-lay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: white;
}

.modal__body{
   width: 70%;
   height: 100vh;
   display: flex;
    background-color:white;
    border-radius: 10px;
    margin: auto;
    margin-top: 5%;
    position: relative;
    border: 1px solid rgb(190, 188, 188);
    flex-direction: column;
    flex-wrap:wrap;
}
h2{
    margin-left: 5%;
}

/* Modal content */
.modal__content{
    display: flex;
    width: 20%;
    height: 30vh;
    font-size: 15px;
    text-decoration: none;
     background-color:white;
     border-radius: 10px;
     margin: auto;
     margin-top: 5%;
     margin-right: 0px;
     position: relative;
     border: 1px solid rgb(190, 188, 188);
     flex-direction: column; 
     flex-wrap: wrap;

 }
 .form__menu{
    min-width: 90px;
 }
 /* MENU THÔNG TIN CÁ NHÂN */
/* SIDEBAR */

.sidebar {
    list-style-type: none; 
    padding: 0;
    margin: 0;
    background-color: #fff;
    border-radius: 10px;
    /* box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); */
}

.sidebar li {
    display: flex; 
    justify-content: space-between;
    align-items: center; 
    padding: 12px 16px;
    margin-top: 5px;
    border-bottom: 1px solid #eaeaea;
}

.sidebar li:last-child {
    border-bottom: none;
}

.sidebar a {
    display: flex; 
    align-items: center;
    text-decoration: none; 
    color: #333;
    width: 100%;
}

.sidebar__item {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 16px;
    flex-grow: 1; 
}

.icon-right {
    font-size: 14px;
    color: #aaa;
}

.sidebar li:hover {
    opacity: 0.8;
}

.icon-identify{
    color: rgb(2, 108, 61);
}
/*THÔNG TIN CÁ NHÂN */

/* CSS GROUP */
.Information__group{
    flex-direction: column;
    max-width: auto;
    padding: 10px;
    margin: 20px;
    flex-wrap: wrap;
    position: fixed;
}

.form__info{
    display: inline-flex;
    padding: 10px 0;
}

.form__label{    
    min-width: 130px;
    margin-left: 25px;
    color: #888;
    font-weight: 500;

}
.form__input{
    /* flex:1; */
    width: 300px;
    height: 36px;
    color:#cfc7c7;
    border: 1px solid #b4b4b4;
    border-radius: 5px;
    box-sizing: border-box;
}
.form__input:hover{
    border: 1px solid #505050;

}

input[type="date"] {
    min-width: 28.7%;
    font-size: 14px;
    border: 1px solid #b4b4b4;
    border-radius: 5px;
    box-sizing: border-box;
}

.save{
    width:120px;
    height: 30px;
    background-color: rgb(2, 108, 61);
    font-size: 12px;
    font-weight: 600;
    color: aliceblue;
    outline: none;
    border: none;
    margin-top: 30px;
    margin-left: 80%;
    border-radius: 5px;
  }
  .save:hover{
    font-weight: 500;
  }


