@import url("https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Guides:wght@400..700&display=swap");
* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 1.5;
  color: rgb(2, 108, 61);
  font-family: 'my font', sans-serif;
  overflow-x: hidden;
}

.header {
  background-color: #333;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

.header__search {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px;
}


/* CSS LOGO */
/* Header__search-logo */
.header__search-logo {
    width: 20%;
    margin-left: 10%;
  }
  
  .icon-logo {
    rotate: 35deg;
    font-size: 20px;
    margin-bottom: 5px;
  }

  .icon-logo:hover {
    color: rgb(2, 108, 61);
  }

  .header__search-logo-link:hover {
    color: rgb(2, 108, 61);
  }

  .header__search-logo-link {
    color: black;
    font-size: 30px;
    text-decoration: none;
    font-family: Anton SC, sans-serif;
  }


/* CSS THANH TÌM KIẾM */
.header__search-find {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    width: 30%;
}

.header__search input[type="text"] {
    padding: 12px;
    width: 400px;
    border-radius: 50px;
    border: 1px;
    background-color: #eeecec;
    margin-left: 10%;
    margin-top: 5px;
    margin-bottom: 5px;
    position: relative;
}

.header__search-find-link {
    margin-left: 21%;
    position: absolute;
    text-decoration: none;  
    color: rgb(2, 108, 61);
    cursor: pointer;
}
.header__search-find-link:hover {
    color: black;
}


  /* CSS ICON TÌM KIẾM */
.icon-search {
    margin-left: 10px;
 }
  
  /* FILTER */
/* BỘ LỌC TÌM KIẾM */

/* CSS ICON FILTER */
.icon-filter {
    position: absolute;
    left: 52%;
    font-size: 18px;
    color: rgb(2, 108, 61);
    text-decoration: none;
    transform-origin: top left;
    margin-left: 70px;
    margin-top: 0;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out; 
}
.header__search-filter-link{
    margin-bottom:13px;
    text-decoration: none;  
    color: rgb(2, 108, 61);
}
.icon-filter:hover .menu__filter {
    opacity: 1; 
    transform-origin: top left;
    transform: scale(1); 
    animation: headerFilterGrowth ease-in 0.3s;
}

@keyframes headerFilterGrowth {
    from {
      opacity: 0;
      transform: scale(0);
    }
    to {
      opacity: 1;
      transform: scale(1);
    }
}

  /* CSS MENU FILTER */
.menu__filter {
    position: absolute;
    height: 450px;
    min-width: 250px;
    background-color: rgb(252, 249, 246);
    color: rgb(2, 108, 61);
    text-decoration: none;
    overflow-y:scroll;
    opacity: 0;
    transform: scale(0);
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}  

  /* CSS TIÊU ĐỀ: BỘ LỌC TÌM KIẾM */
.menu__filter h3 {
    font-family: Arimo, sans-serif;
    font-weight: 700;
    justify-content: center;
    text-align: center
}  

  /* CSS MENU__FILTER-ITEM */
.menu__filter-item {
    list-style-type: none;
    color: rgb(8, 86, 51);
    line-height: 2.0;
    padding: 5px 5px;
    margin-left: 10%;
    font-size: 14px;
    font-family: Arimo, sans-serif;
    font-weight: 500;
    justify-content: center;
}

.menu__filter-item li:hover{
    color: white;
    font-size: 15px;
    background-color:rgb(2, 108, 61);
}

/* CSS BUTTON ÁP DỤNG */
.button-filter{
    background-color: rgb(2, 108, 61);
    color:white;
    border-radius: 3px;
    border: none;
    justify-content: center;
    text-align: center;
    padding:5px;
    margin-left: 30%;
    margin-top: 5%;
}

  /* HEADER__SEARCH-ICON */
/* GIỎ HÀNG VÀ ĐĂNG NHẬP/ ĐĂNG KÝ */

.header__search-icon {
    display: flex;
    gap: 30px;
    margin-left: 20%;
    margin-right: 20%;
}
  /* CSS ICON GIỎ HÀNG */
.header__search-icon i {
    cursor: pointer;
}

.header__search-icon i:hover {
    color: #000000;
}

.header__search-icon-link {
    margin-top: 13%;
    color: rgb(2, 108, 61);
}
.icon-cart{
  font-size: 18px;
}
  
  /* CSS ICON USER */
  .icon-user-wrapper {
      position: relative;
      display: inline-block;
    }
    
    .icon-user {
      margin-top:30%;
      margin-left: 20px;
      font-size: 18px;
      color: rgb(2, 108, 61);
      cursor: pointer;
    }
    
    /* CSS MENU ĐĂNG KÝ/ĐĂNG NHẬP */
    .menu__user {
      position: absolute;
      top: 100%; 
      left: 0;
      min-width: 150px;
      background-color: #eceaea;
      display: none; 
      z-index: 1000;
      box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.6);
    }
    
    .icon-user-wrapper:hover .menu__user {
      display: block; 
    }
    
    /* Menu item */
    .menu__user-item {
      width: 100%;
      list-style: none;
      padding: 0;
      margin: 0;
    }
    
    /* Các mục li */
    .menu__user-item li {
      display: flex;
      align-items: center;
      font-weight:500;
      border-bottom: 1px solid rgb(136, 117, 117);
      transition: background-color 0.3s ease, color 0.3s ease;
    }
    
    .menu__user-item li:last-child {
      border-bottom: none;
    }
    
    .menu__user-item li:hover {
      background-color: rgb(2, 108, 61);
      color: white;
    }
    /* Thẻ a  */
    .menu__user-item a {
      text-decoration: none;
      color: inherit;
      margin-left: 8px;
      display: block;
    }
    
    /* Icon menu */
    .icon-login_1, .icon-login_2, .icon-login_3, .icon-login_4, .icon-login_5 {
      font-size: 16px;
      flex-shrink: 0;
    }

    /* THANH NAV-BAR/ TRANG CHỦ;SẢN PHẨM & VỀ CHÚNG TÔI */
/* Header__nav */
.header__nav {
    min-height: 42px;
    background-color: white;
    display: flex;
    justify-content: center;
    border: 2px solid #f5f4f4;
    text-decoration: none;
    line-height: 1.5;
    flex-direction: row;    
    box-shadow: 1px 2px 3px #8b8a8a;
    cursor: pointer;
  }
  
  .header__nav-list {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    flex-direction: row;

  }
  
  .header__nav-item {
    color: #9d9c9c;
    list-style: none;
    margin: 0 50px;
    margin-top: 5px;
    justify-content: space-between;
    display: inline-block;
    text-decoration: none;

  }
  
  .header__nav-item:hover {
    color: rgb(2, 108, 61);
    font-weight: 700;
    cursor:grab;
  }

.header__nav-item__product {
    display: none;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 800px;
    background-color: #fefcfa;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    z-index: 10;
}

.header__product {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.header__product-column {
  flex: 1;
}


.header__product-title {
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
  color: #026c3d;
  margin-bottom: 10px;
  text-decoration: none;
  transition: color 0.2s ease, text-decoration 0.2s ease;
}

.header__product-title:hover {
  color: #666;
  text-decoration: none;
  cursor: pointer;
}



.header__product-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.header__product-list li a {
  display: block;
  padding: 6px 10px;
  text-decoration: none;
  color: #666;
  border-radius: 4px;
}

/* Hover hiệu ứng */
.header__product-list li a:hover {
  background-color: #026c3d;
  color: #fff;
}
  
  .header__nav-item.header__nav-item--has-product:hover
    .header__nav-item__product {
    display: block;
    animation: headerProductGrowth ease-in 0.2s;
  }
  
  @keyframes headerProductGrowth {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

    /* SLIDE SHOW ẢNH TRANG CHỦ */
.slideShow {
  width: 90%;
  margin: 130px auto;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: darkslategray;
  font-style: oblique;
  text-align: center;
  font-size: 50px;
}

    /* CSS IMAGE SLIDESHOW */
.slideShow img {
  display: none;
}

    /* CSS ẢNH GIỚI THIỆU */
.column-layout {
  width: 80%;
  display: flex;
  margin: 100px auto;
  text-align: left;
  color: rgb(2, 108, 61);
  line-height: 1.5;
  z-index: -1;
  flex-direction: row;
  flex-wrap: wrap;
}

     /*CSS CONTENT ẢNH GIỚI THIỆU */
.column-layout__header {
  width: 40vw;
  height: auto;
  font-size: 20px;
  margin-left: 90px;
  text-align: left;
  position: relative;
  color: #797979;
}

.column-layout__header h3 {
  font-size: 30px;
  color: rgb(2, 108, 61);
  justify-content: center;
  text-align: center;
  font-family: "Anton SC", serif;
  font-weight: 100;
}

.column-layout__header p {
  margin-top: 50px;
}

    /* CSS IMAGE ẢNH GIỚI THIỆU */
.column-layout__image {
  flex: 1;
  min-width: 200px;
  position: relative;
  margin-left: 5%;
}
    /* CSS TEXT HOVER TRÊN ẢNH */
.decribe {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90%;
  width: 100%;
  margin-left: 30px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0);
  opacity: 0;
  transition: all 0.5s;
}

.column-layout__image img {
  width: 100%;
  height: 90%;
  border-radius: 10px;
  margin-left: 30px;
}

.decribe h2 {
  text-transform: uppercase;
  font-size: 2rem;
  color: blanchedalmond;
}

.decribe p {
  color: blanchedalmond;
}

.column-layout__image:hover .decribe {
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.5);
}

/* SẢN PHẨM NỔI BẬT  */

    /* CSS BESTSELLER */
    h2{
      font-weight: 700;
      text-align: center;
      justify-content: center;
    }
  /* CSS IMAGE BESTSELLER */
  .Img__BestSeller {
    display: flex;
    justify-content: center;
    gap: 40px;
  }
    .product-form__form {
    width: 200px;
    height: max-content;
    border: 1px solid rgba(236, 239, 241, 1);
    border-radius: 5px;
    overflow: hidden;
  }
   .product-form__form:hover {
    box-shadow: 1px 1px 3px 3px rgba(236, 239, 241, 1);
  }
  .product-form__container {
    min-width: 0px;
    min-height: 210px;

  }
  
  /* CSS image */
  
  .product-form__image {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    min-width: 0px;
    min-height: 130px;
    background-color: rgba(236, 239, 241, 1);
  }
  
  .product-form__image-icon {
    position: absolute;
    right: 7px;
    top: 5px;
    rotate: 35deg;
    color: rgb(2, 108, 61);
    font-size: 20px;
  }
  
  .product-form__image-img {
    width: 90px;
    height: 90px;
  }
  
  /* CSS content */
  
  .product-form__content {
    min-width: 25%;
    min-height: 15%;
    margin: 7px 5px;
    margin-bottom: 2px;
    color: rgb(2, 108, 61);
  }
  
  .product-form__title {
    font-size: 14px;
  }
  
  .product-form__cost {
    font-size: 14.5px;
  }
  
  /* CSS nút đặt mua */
  
  .product-form__buy {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    min-width: 25%;
    min-height: 15%;
  }
  
  .product-form__buy-btn {
    min-width: 95%;
    min-height: 25px;
    background-color: rgb(2, 108, 61);
    outline: none;
    text-align: center;
    color: #fff;
    border: 1px solid rgb(2, 108, 61);
    border-radius: 5px;
    cursor: pointer;
  }
  
  .product-form__buy:hover {
    opacity: 0.8;
    cursor: pointer;
  }
  /* CSS Button */
  
  .more {
    padding: 10px 50px;
    justify-content: center;
    text-align: center;
    margin-left: 45%;
    margin-top: 20px;
    color: rgb(2, 108, 61);
    background-color: white;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid rgb(2, 108, 61);
  }
  .more:hover {
    background-color: rgb(2, 108, 61);
    color: rgb(255, 255, 255);
    border: 1px solid rgb(255, 255, 255);
    cursor: pointer;
  }

/* TIN TỨC VÀ KHUYẾN MÃI */
/* News */
.news {
  justify-content: center;
  text-align: center;
  color: rgb(2, 108, 61);
  font-size: 18px;
}
/* Status__bestseller */
.status__bestseller {
  display: flex;
  justify-content: center;
  gap: 40px;
}
/* Form */
.status-form__form:hover {
  box-shadow: 1px 1px 3px 3px rgba(236, 239, 241, 1);
}

.status-form__form {
  width: 300px;
  border: 1px solid rgba(236, 239, 241, 1);
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 30px;
}

.status-form__container {
  min-width: 200px;
  min-height: 210px;
}

/* CSS image */

.status-form__image {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  min-width: 150px;
  min-height: 130px;
  border-radius: 5px;
  margin-bottom: 30px;
  background-color: rgba(236, 239, 241, 1);
}

.status-form__image-icon {
  position: absolute;
  right: 7px;
  top: 5px;
  rotate: 35deg;
  color: rgb(2, 108, 61);
  font-size: 20px;
}

.status-form__image-img {
  width: 400px;
  height: 150px;
}

/* CSS content */

.status-form__content {
  min-width: 25%;
  min-height: 15%;
  margin: 7px 5px;
  margin-top: 30px;
  margin-bottom: 2px;
  color: rgb(0, 1, 0);
  text-decoration: none;
  border-top: 1px solid #000000;
}
.status-form__content:hover {
  border-top: 1px solid rgb(2, 108, 61);
}
.status-form__title {
  text-align: center;
  font-size: 14px;
  font-weight: 400;
}
.status-form__title a {
  font-size: 14px;
  text-decoration: none;
  color: inherit;
}

.status-form__title a:hover {
  color: rgb(2, 108, 61);
  text-decoration: underline; 
}
/* CSS Information */
.status {
  justify-content: center;
  text-align: center;
  margin-bottom: 50px;
}
.status-more__information {
  color: rgb(2, 108, 61);
}
.status-more__information:hover {
  font-weight: 550;
}

/* Footer */
/* LIÊN HỆ VÀ ĐỊA CHỈ */
.form-container {
  display: flex;
  justify-content: space-around;
  margin-left: 10px;
  min-width: 100%;
  font-size: 18px;
  color: white;
  background-color: rgb(2, 108, 61);
  padding: 20px 0;
}
.bolded {
  font-size: 20px;
  font-weight: 500;
}

.form-container__contact,
.form-container__information,
.form-container__rule {
  padding: 50px 60px;
  min-width: 30%;
}

.icon-contact-fb{
  font-size: 25px;
}
.icon-contact-ig{
  font-size: 25px;
  margin-left: 15px;
}
.icon-contact-tiktok{
  font-size: 25px;
  margin-left: 15px;
}

main{
  flex: 1;
}
iframe{
  width: 100%;
  height: 100%;
  border: none;
}