@font-face {
    font-family: 'my-font';
    src: url(/assets/font/Arimo-VariableFont_wght.ttf) format('truetype');
}

@font-face {
    font-family: 'second-font';
    src: url(/assets/font/Anton-Regular.ttf) format('truetype');
}

*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'my-font', sans-serif;
}

:root{
    --primary-color: rgb(2, 108, 61);
    --second-color: rgb(245, 255, 250); 
    --color-black: #303030;
    --color-gray: #F0F0F0;
    --color-red: #FE2020;
}
