.html,
body {
    font-family: Arimo, sans-serif;
    font-size: 14px;
    line-height: 1.5;
    color: rgb(2, 108, 61);
}

.modal {
    display: flex;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

.modal__over-lay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal__body {
    width: 50%;
    background-color: #fcf8f8;
    border-radius: 5px;
    margin: auto;
    position: relative;
}

/* Order */
.Order {
    width: 100%;
    display: flex;
    flex-wrap:wrap;
}

.Img__product {
    width: 40%;
    display: flex;
    justify-content: center; /* Căn giữa ảnh theo chiều ngang */
    align-items: center;      /* Căn giữa ảnh theo chiều dọc */
    padding: 20px;
    box-sizing: border-box;
}


.Img__product-decribe{
    width:100%;
}

.Img__product-decribe img {
    max-width: 100%;;
    background-color: rgb(239, 238, 238);
    padding: 70px 0px;
    border-radius: 10px;
    z-index: 1000;
}

    /* Header__layout */
    .header {
        width: 60%;
    justify-content: space-between;
        margin-top: 2%;
        font-weight: 300;
        /* padding: 0 0px 0 100px; */

    }

    .header__title-product {
        width: 100%;
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 20px;
        font-weight: 600;
    }

    .header__title-product h3 {
        margin: 0;
    }

    /* Nút quay trở lai */
    .btn-back {
    position: absolute;
    top: -24%;
    right: 0;
    margin-left: 0px;
    text-decoration: none;
    background-color: #fcf8f8;
    border: none;
    border-radius: 3px;
    font-size: 40px;
    color: rgb(2, 108, 61);
    font-weight: 100;
    padding: 4px 10px;
    cursor: pointer;
    }
    .btn-back:hover {
        border-radius: 5px;
        background-color: #f1efef;

    } */



/* Header_model-product */
.header__model-product {
    color: #424141;
    font-size: 12px;
    font-weight: 300;

}

/* Header__cost-product */
/* .header__cost-product{
    display: flex;
    justify-content:space-around;
} */
.header__price-product {
    display: flex;
    justify-content: space-around;
    padding: 0 0px;
    font-size: 20px;
}

.header__quantity-product {
    padding: 0 50px;
    margin-left: 20px;

}

.btn-min {
    background-color: rgb(2, 108, 61);
    border: none;
    outline: none;
    font-size: 16px;
    color: white;
    font-weight: 200;
    border-radius: 2px;
    padding: 4px 10px;
}

.btn-min:hover {
    opacity: 0.8;
}

.btm-max:hover {
    opacity: 0.8;
}

.count {
    margin-left: 10px;
    margin-top: 10px;
}

.btm-max {
    background-color: rgb(2, 108, 61);
    border: none;
    outline: none;
    margin-left: 10px;
    font-size: 16px;
    color: white;
    font-weight: 100;
    border-radius: 2px;
    padding: 4px 10px;
}

/* Header__size-product */
.header__size-product {
    font-weight: 700;
    margin-top: 20px;
}

.header__size-product-detail {
    font-weight: bolder;

}

.btn {
    gap: 10px;
    margin-top: 5px;
    padding: 15px 30px;
    border-radius: 5px;
    border: 1px solid rgb(211, 211, 211);
    background-color: rgba(255, 255, 255, 0.8);
    color: rgb(0, 0, 0);

}

.btn:hover {
    background-color: #f5f5f5;
}

/* Header__sweet-product */
.header__sweet-product {
    margin-top: 20px;
    font-weight: bold;
    margin-bottom: 5px;
}

.header__sweet-product-option {
    display: flex;
    height: max-content;
    width: max-content;
    gap: 20px;
    margin-top: 5px;

}

.btn-sweet {
    background-color: rgba(240, 238, 238, 0.8);
    color: rgb(0, 0, 0);
    border: none;
    outline: none;
    padding: 8px 15px;
    border-radius: 2px;
}

.btn-sweet:hover {
    background-color: rgb(2, 108, 61);
    color: white;
}

/* Header__ice-prodcut */
.header__ice-product {
    margin-top: 20px;
    font-weight: 700;

}

.header__ice-product-option {
    display: flex;
    margin-top: 5px;
    height: max-content;
    width: max-content;
    gap: 20px;
}

.btn-ice {
    background-color: rgba(240, 238, 238, 0.8);
    color: rgb(0, 0, 0);
    border: none;
    outline: none;
    padding: 8px 15px;
    border-radius: 2px;
}

.btn-ice:hover {
    background-color: rgb(2, 108, 61);
    color: white;
}

/* <!-- Header__topping-product --> */
.header__topping-product {
    width: 100%;
    font-weight: 700;
    margin-top: 20px;
    font-size: 14px;
}

.header__topping-product-check-box {
    display: flex;
    color: rgb(110, 108, 108);
    font-weight: 100;
    margin-top: 10px;
    /* justify-content: ; */
}

.header__topping-product-quantity {
    width: 70%;
    height: 20%;
    display: flex;
    justify-content: flex-end;
    font-size: 16px;
}

.btn-topping {
    background-color: rgba(240, 238, 238, 0.8);
    border: none;
    outline: none;
    font-size: 12px;
    color: rgb(2, 108, 61);
    font-weight: 700;
    border-radius: 5px;
    padding: 8px 8px;
}

.count {
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 5px;
}

.btn-topping:hover {
    color: white;
    background-color: rgb(2, 108, 61);
}

/* Header__pay-product */
.header__pay-product {
    display: flex;
    justify-content: center;
    padding: 30px 10px;
}

.header__pay-product-bill {
    background-color: rgb(2, 108, 61);
    color: white;
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 8px 30px;
}

.header__pay-product-bill:hover {
    opacity: 0.8;
}

.header__pay-product-bill-link {
    color: rgb(254, 254, 254);
    text-decoration: none;
}